<!--
{% load static %}
<%@ page contentTypes = "text/html"; charset = UTF-8 pageEncoding = "UTF-8"%>
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> 홈 //title </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
  </head>


  <body>
    <div class="wrap">
      <div class="intro_bg">
        <div class="header">
          <div class="Youtubelink"
          <li><a href="https://www.youtube.com/"></a>youtube</li>
          </div>
        </div>
      </div>
      <div class="center_bg">
        <div class="emptyArea">
        <div class="SearchArea">
        <div class="SearchLogo"
        <label> logo name </label>
        </div>
        <section class="SearchBox">
           <form action = {% url 'data_process' %} method = "get">
             <input type="url"  name = "Channel_Src" placeholder="url input" size=80 >
          </form>
        </section>
        </div>
        </div>
      </div>

      <p>{{video_img}}</p>
  </body>
</html>
