<style>
.shortcut{

}

body{
  margin-left: 100px;
  margin-right: 100px;
}

a[href = "https://www.youtube.com/"]{
  text-decoration:none;
  font-size:15px;
  color: #c4302b;
  font-weight: bold;
  text-align: right;
  position: relative;
}

.ChannelInfo #profile_img{
  border-radius: 70%;
  overflow: hidden;
}



.Search{
  font-size: 15px;
  margin: 30px 30px -30px 30px;
  padding: 20px;
  text-align: right;
  position: relative;
}

.Search #youtubeChannel{
  width: 550px;
}

.ChannelInfo{
  border: 1px solid LightGrey;
  margin: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Sorting{
  border: 1px;
  margin: 30px;
  position: relative;
}

.Videos{
  border: 1px solid LightGrey;
  margin: 30px;
  padding: 50px 10px 30px 10px;
  /* padding: 30px 10px 30px 10px; */
}

.Videos #video_img_url{
  padding: 5px;
}

</style>
