<style>
.shortcut{

}

a[href = "https://www.youtube.com/"]{
  text-decoration:none;
  font-size:13px;
  color: #c4302b;
  font-weight: bold;
}

.Search{
  font-size: 15px;
  border: 1px solid LightGrey;
  margin: 30px;
  padding: 10px 0px;
  position: relative;
  text-align: center;

}

.Search #youtubeChannel{
  width: 550px;
}

.ChannelInfo{
  border: 1px solid LightGrey;
  margin: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Sorting{
  border: 1px;
  margin: 30px;
  position: relative;
}

.Videos{
  border: 1px solid LightGrey;
  margin: 30px;
  padding: 50px 0px;
}

</style>
